extends base

block content 
  section.dashboard.gray-bg.padd-0.mrg-top-50
    .container-fluid
      .row
        .col-lg-2.col-md-2.col-sm-3.dashboard-bg
          // /. NAV TOP
          nav.navbar.navbar-side
            // Start Logo Header Navigation
            .navbar-header
              button.navbar-toggle(type='button' data-toggle='collapse' data-target='#dashboard-menu')
                i.fa.fa-bars
            include _dashboard_sidebar
          // /. NAV SIDE
        .col-lg-10.col-md-10.col-sm-9.col-lg-push-2.col-md-push-2.col-sm-push-3
          .row.mrg-0.mrg-top-20
            .tr-single-box
              .tr-single-header
                if user.role === "admin"
                  h3.dashboard-title= `all purchases` 
                else if user.role === "user"
                  h3.dashboard-title= `buy a premium subscription here`                                   
                  .container
                    each prod in prods
                      .col-md-4
                        .price-table-box.style-2.br-primary
                          i.ti-settings
                          h4= prod.productType
                          .price-box
                            h2
                              sup= `$ ${prod.price}`
                          .price-features
                            //- ul
                            //-   li feature 1
                            //-   li feature 2
                            //-   li feature 3
                            //-   li feature 4
                            //-   li feature 5
                          .price-btn
                            if user
                                a.btn.btn-pricing(href=`/orderpage/${prod.name}`) Buy Now
                            else 
                                a.btn.btn-pricing(href='/login') Log in to buy
                                    i.ti-shopping-cart
